<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Atherion Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for msg in messages %}
                <li>{{ msg }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form method="POST">
    <input type="login" name="login" placeholder="Login" required>
    
    <div class="password-wrapper">
        <input type="password" name="senha" id="senha" placeholder="Senha" required>
        <span class="toggle-password" onclick="togglePassword()">👁️</span>
    </div>

    <button type="submit">Entrar</button>
</form>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>
